.template-four-btn {
    margin-top: 40px;
    display: inline-block;
    padding: 0.3em 1em !important;
    color: #ffffff !important;
    border-width: 10px !important;
    border-color: #f4583f !important;
    border: 2px solid;
    background-color: #f4583f;
    font-size: 16px;
    font-family: "Muli", sans-serif !important;
    font-weight: 700 !important;
    line-height: 1.7em !important;
    outline: 0;
    text-decoration: none;
}

@media (max-width:980px) {
    .template-four-btn {
        width: 100%;
        text-align: center;
    }
}